#main-event {
  position: relative;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
  height: 450px;
  align-items: center;
  padding-top: 70px;
}
@media (max-width: 990px) {
  #main-event {
    height: 450px;
  }
}
#main-event .background-banner {
  display: none;
}
@media (max-width: 990px) {
  #main-event .background-banner {
    height: 200px;
  }
}
#main-event .checkout-banner {
  position: relative;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (min-width: 576px){
  #main-event .checkout-banner {
    height: 190px;
  }
}
@media screen and (min-width: 768px){
  #main-event .checkout-banner {
    height: 252px;
  }
}
@media screen and (min-width: 992px){
  #main-event .checkout-banner {
    height: 337px;
  }
}
@media screen and (min-width: 1200px){
  #main-event .checkout-banner {
    height: 400px;
  }
}

#main-event .share {
  position: absolute;
  bottom: 0px;
  display: block;
  margin-bottom: -20px;
}
/* #main-event .share-btn.facebook {
  background-image: url(../../assets/img/icon-facebook.svg);
}
#main-event .share-btn.twitter {
  background-image: url(../../assets/img/icon-twitter.svg); */
/* } */
#main-event .share-btn {
  max-width: 100%;
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 24px;
  border: 1px solid #cfd5e1;
  background-color: #fff;
  background-position: 4px 50%;
  background-size: 32px;
  background-repeat: no-repeat;
}

.checkout {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100%;
}

.checkout h2{
  font-size: 25px;
}
.checkout .row .panel {
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #eee;
}

.checkout .row .panel .panel-header {
  border-bottom: 1px solid #eee;
}

.panel-header > p {
  font-size: 18px;
  font-weight: bold; 
}

.checkout .row .panel .panel-body {
  border-bottom: 1px solid #eee;
}

.checkout .row .panel .panel-footer {
  height: 50px;
  border-top: 1px solid #eee;
}

.checkout input[type=checkbox]{
  margin-left: 0px !important;
}

.checkout .row .panel .panel-body .panel-title {
  margin-bottom: 10px;
  font-size: 0.9em;
}
.checkout .row .panel .panel-body .panel-name {
  overflow: hidden;
}
#checkout-login {
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 15px;
}
#checkout-login .checkout-account-icon{
  width: 65px;
  height: 65px;
  border: 2px solid;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkout-login div i{
  font-size: 40px;
}

.panel-name > p {
  line-height: 90%;
}

.panel-name > img {
  width: 50%;
  border-radius: 50px;
  border: 2px solid #2e2e2e
}
 label {
  font-weight: bold;
}

.paginacao {
  margin: 0 auto;
  padding-left: initial;
}
.paginacao li a {
  color: #20c4f4;
  cursor: pointer;
}

.btn-whats {
  color: #fff !important;
  background-color: #0fca03!important; 
  border:1px solid #0fca03 !important;
}


.btn-whats:hover {
  color: #fff !important;
  background-color: #0fca03b0 !important; 
  border:1px solid #0fca03b0 !important;
}

#checkout-address-save{
  margin-top: 10px;
}
#checkout-address-save label{
  margin-left: 20px;
}
#payment-method .payment-type label{
  background: white;
  height: 40px;
  border-radius: 8px;
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  padding: 0px 20px 0px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}